h1 {
    text-align: center;
}
input {
    padding: 5px;
    outline: none;
    margin: 10px auto;
    display: block;
    width: 200px;
}

textarea {
    margin: 10px auto;
    outline: none;
    padding: 5px;
    display: block;
}

button {
    padding: 8px;
    display: block;
    margin: 5px auto;
    cursor: pointer;
}